In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

C:\Users\klysm\AppData\Local\Temp\ipykernel_10692\3538350959.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
#carregar arquivos csv 
navios_sines_imos = pd.read_csv('dataset_navios_with_imos.csv')
imos_navios_caracteristicas = pd.read_csv('df_imos_caracteristicas.csv')
porto_sines_caracteristicas = pd.read_csv('porto_caracteristicas_terminais.csv', encoding='latin1')

In [11]:
#fa√ßa o merge dos dataframes navios_sines_imos e imos_navios_caracteristicas com base na coluna Imo e IMO number
navios_sines_imos = pd.merge(navios_sines_imos, imos_navios_caracteristicas, left_on='Imo', right_on='IMO number')

In [12]:
navios_sines_imos

,Berth Name,Terminal Name,Time At Berth,Time At Port,Vessel Type - Generic,Commercial Market,Voyage Distance Travelled,Voyage Speed Average,Imo,Voyage Origin Port,...,Engine type_y,Year of build_y,Builder_y,Classification society_y,Home port_y,Owner_y,Manager_y,Description_y,Engine model_y,Engine power_y
0,Container,Container Terminal XXI,14.5,15.0,Container Ship,CONTAINER SHIPS,1208.0,15.9,9279977,ANTWERP,...,NaN,2004,HYUNDAI SAMHO HEAVY INDUSTRIES CO. LTD. - MOKP...,GERMANISCHER LLOYD,Panama,NaN,NaN,MSC POH LIN is a Container ship built in 2004 ...,NaN,NaN
1,7,Oil and Products Terminal,18.9,19.2,LPG Tanker,LPG CARRIERS,27.0,4.8,9261578,LISBOA,...,Schottel,2004,"CANTIERE NAVALE DE POLI - VENEZIA, ITALY",NaN,NaN,"LUMASHIP - NAPOLI, ITALY","LUMASHIP - NAPOLI, ITALY",MADDY is a LPG carrier built in 2004 by CANTIE...,STP 550,2100 KW
2,6,Oil and Products Terminal,17.5,41.2,Oil Products Tanker,WET BULK,4.0,5.2,9428671,SINES,...,Daihatsu,2007,"SOPO SHIPYARD - ZHENJIANG, CHINA",BUREAU VERITAS,SANTA CRUZ DE TENERIFE,"NAVIERA MURUETA - BILBAO, SPAIN","NAVIERA MURUETA - BILBAO, SPAIN",BAHIA TRES is a Oil tanker built in 2007 by SO...,6DS-32,3500 KW
3,Container,Container Terminal XXI,22.1,22.2,Container Ship,CONTAINER SHIPS,281.0,14.9,9289099,ALGECIRAS,...,MAN-B&W,2005,"HANJIN HEAVY INDUSTRIES CO. LTD. - BUSAN, SOUT...",GERMANISCHER LLOYD,HAMBURG,"OFFEN REEDEREI - HAMBURG, GERMANY","OFFEN REEDEREI - HAMBURG, GERMANY",MSC BEIJING is a Container ship built in 2005 ...,12RTA-96C,61800 KW
4,3,Oil and Products Terminal,0.3,16.9,Fire Fighting Vessel,SUPPORTING VESSELS,2.0,5.2,9319179,SINES ANCH,...,NaN,2005,"ASTILLEROS ZAMAKONA - BILBAO, SPAIN",BUREAU VERITAS,SINES,"REBOPORT - SETUBAL, PORTUGAL","REBOPORT - SETUBAL, PORTUGAL",CASTELO DE SAO JORGE is a Other built in 2005 ...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1766,3,Multi Purpose Terminal,11.7,100.8,Tug,SUPPORTING VESSELS,3.0,8.1,7626085,SINES,...,NaN,1979,"REBOPORT - SETUBAL, PORTUGAL",NaN,NaN,NaN,NaN,POSEIDON is a Tug boat built in 1979 by REBOPO...,NaN,NaN
1767,3,Multi Purpose Terminal,11.5,100.8,Tug,SUPPORTING VESSELS,3.0,8.1,7626085,SINES,...,NaN,1979,"REBOPORT - SETUBAL, PORTUGAL",NaN,NaN,NaN,NaN,POSEIDON is a Tug boat built in 1979 by REBOPO...,NaN,NaN
1768,3,Multi Purpose Terminal,11.8,100.8,Tug,SUPPORTING VESSELS,3.0,8.1,7626085,SINES,...,NaN,1979,"REBOPORT - SETUBAL, PORTUGAL",NaN,NaN,NaN,NaN,POSEIDON is a Tug boat built in 1979 by REBOPO...,NaN,NaN
1769,3,Multi Purpose Terminal,0.1,100.8,Tug,SUPPORTING VESSELS,3.0,8.1,7626085,SINES,...,NaN,1979,"REBOPORT - SETUBAL, PORTUGAL",NaN,NaN,NaN,NaN,POSEIDON is a Tug boat built in 1979 by REBOPO...,NaN,NaN
1770,3,Multi Purpose Terminal,0.2,100.8,Tug,SUPPORTING VESSELS,3.0,8.1,7626085,SINES,...,NaN,1979,"REBOPORT - SETUBAL, PORTUGAL",NaN,NaN,NaN,NaN,POSEIDON is a Tug boat built in 1979 by REBOPO...,NaN,NaN

In [7]:
imos_navios_caracteristicas

,IMO number,MMSI,Name of the ship,Former names,Vessel type,Operating status,Flag,Gross tonnage,Deadweight,Length,...,Engine type,Year of build,Builder,Classification society,Home port,Owner,Manager,Description,Engine model,Engine power
0,9326603,257990000.0,IBERICA KNUTSEN,IBER ...,LNG carrier,Active,Norway,93915 tons,77541 tons,277 m,...,MAK,2006,DAEWOO SHIPBUILDING & MARINE ENGINEERING CO. L...,DET NORSKE VERITAS,HAUGESUND,"KNUTSEN OAS SHIPPING - HAUGESUND, NORWAY","KNUTSEN OAS SHIPPING - HAUGESUND, NORWAY",IBERICA KNUTSEN is a LNG carrier built in 2006...,NaN,NaN
1,9778117,NaN,MSC NITYA B,NaN,Container ship,NaN,Portugal,113112 tons,NaN,NaN,...,MAN-B&W,2017,NaN,NaN,NaN,"MSC MEDITERRANEAN SHIPPING - GENEVA, SWITZERLAND","MSC MEDITERRANEAN SHIPPING - GENEVA, SWITZERLAND",MSC NITYA B is a Container ship built in 2017....,8G95ME-C,42310 KW
2,9349813,354530000.0,MSC CARMEN,BUXCITY ...,Container ship,Active,Panama,50963 tons,63359 tons,274 m,...,MAN-B&W,2008,"DAEWOO MANGALIA HEAVY INDUSTRIES - MANGALIA, R...",GERMANISCHER LLOYD,Panama,NaN,NaN,MSC CARMEN is a Container ship built in 2008 b...,9K98ME-C,54326 KW
3,9800025,356664000.0,VARI TRADER,V ...,Chemical/Oil tanker,Active,Panama,11773 tons,19803 tons,145 m,...,NaN,2018,NaN,NaN,Panama,NaN,NaN,VARI TRADER is a Chemical/Oil tanker built in ...,NaN,NaN
4,9720287,255806521.0,MSC MAXINE,MSC MAXINE ...,Container ship,Active,Portugal,95514 tons,110628 tons,299 m,...,MAN-B&W,2015,"JIANGNAN CHANGXING SHIPBUILDING - SHANGHAI, CHINA",GERMANISCHER LLOYD,Panama,"HANYUAN SHANGHAI SHIP - SHANGHAI, CHINA","MSC MEDITERRANEAN SHIPPING - GENEVA, SWITZERLAND",MSC MAXINE is a Container ship built in 2015 b...,NaN,52000 KW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,9500728,538004576.0,AS SUWAYQ,SUWAIQ ...,Oil tanker,Active,Marshall Islands,164364 tons,319439 tons,333 m,...,NaN,2012,DAEWOO SHIPBUILDING & MARINE ENGINEERING CO. L...,AMERICAN BUREAU OF SHIPPING,NaN,"OMAN SHIPMANAGEMENT - MUSCAT, OMAN","OMAN SHIPMANAGEMENT - MUSCAT, OMAN",AS SUWAYQ is a Oil tanker built in 2012 by DAE...,NaN,NaN
339,9733674,431132000.0,BUCCOO REEF,BUC3OO REEF ...,Chemical/Oil tanker,Active,Japan,21101 tons,30723 tons,175 m,...,NaN,2015,"MINAMINIPPON SHIPBUILDING - USUKI, JAPAN",NaN,TOKYO,"MITSUI OSK LINES - TOKYO, JAPAN","MITSUI OSK LINES - TOKYO, JAPAN",BUCCOO REEF is a Chemical/Oil tanker built in ...,NaN,NaN
340,9457749,538004188.0,NAVE POLARIS,NaN,Chemical/Oil tanker,Active,Marshall Islands,17846 tons,25145 tons,170 m,...,MAN-B&W,2011,"DAE SUN SHIPBUILDING & ENGINEERING - BUSAN, SO...",AMERICAN BUREAU OF SHIPPING,NaN,"NAVIOS TANKERS MANAGEMENT - ATHENS, GREECE","NAVIOS TANKERS MANAGEMENT - ATHENS, GREECE",NAVE POLARIS is a Chemical/Oil tanker built in...,6S46MC-C,7860 KW
341,9326964,255806165.0,NCL SVELGEN,PASSAT ...,Container ship,Active,Portugal,9990 tons,11209 tons,134 m,...,MAK,2005,"SIETAS SCHIFFSWERFT - HAMBURG, GERMANY",GERMANISCHER LLOYD,SAINT JOHN'S,"MOJE REEDEREI - DROCHTERSEN, GERMANY","MOJE REEDEREI - DROCHTERSEN, GERMANY",NCL SVELGEN is a Container ship built in 2005 ...,9M43,7950 KW
342,9595125,226000000.0,ASTERION,YSTERION ...,Chemical/Oil tanker,Active,France,23248 tons,37583 tons,184 m,...,MAN-B&W,2011,"HYUNDAI MIPO DOCKYARD CO. LTD. - ULSAN, SOUTH ...",BUREAU VERITAS,MARSEILLES,"SOCATRA - BORDEAUX, FRANCE","SOCATRA - BORDEAUX, FRANCE",ASTERION is a Chemical/Oil tanker built in 201...,6S46MC-C,8280 KW