In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

C:\Users\klysm\AppData\Local\Temp\ipykernel_13784\3538350959.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
#carregar arquivos csv 
navios_sines_imos = pd.read_csv('dataset_navios_with_imos.csv')
imos_navios_caracteristicas = pd.read_csv('df_imos_caracteristicas.csv')
porto_sines_caracteristicas = pd.read_csv('porto_caracteristicas_terminais.csv', encoding='latin1')

In [3]:
#faça o merge dos dataframes navios_sines_imos e imos_navios_caracteristicas com base na coluna Imo e IMO number
navios_sines_imos = pd.merge(navios_sines_imos, imos_navios_caracteristicas, left_on='Imo', right_on='IMO number')

In [4]:
navios_sines_imos

,Berth Name,Terminal Name,Time At Berth,Time At Port,Vessel Type - Generic,Commercial Market,Voyage Distance Travelled,Voyage Speed Average,Imo,Voyage Origin Port,...,Engine type,Year of build,Builder,Classification society,Home port,Owner,Manager,Description,Engine model,Engine power
0,Container,Container Terminal XXI,14.5,15.0,Container Ship,CONTAINER SHIPS,1208.0,15.9,9279977,ANTWERP,...,NaN,2004,HYUNDAI SAMHO HEAVY INDUSTRIES CO. LTD. - MOKP...,GERMANISCHER LLOYD,Panama,NaN,NaN,MSC POH LIN is a Container ship built in 2004 ...,NaN,NaN
1,7,Oil and Products Terminal,18.9,19.2,LPG Tanker,LPG CARRIERS,27.0,4.8,9261578,LISBOA,...,Schottel,2004,"CANTIERE NAVALE DE POLI - VENEZIA, ITALY",NaN,NaN,"LUMASHIP - NAPOLI, ITALY","LUMASHIP - NAPOLI, ITALY",MADDY is a LPG carrier built in 2004 by CANTIE...,STP 550,2100 KW
2,6,Oil and Products Terminal,17.5,41.2,Oil Products Tanker,WET BULK,4.0,5.2,9428671,SINES,...,Daihatsu,2007,"SOPO SHIPYARD - ZHENJIANG, CHINA",BUREAU VERITAS,SANTA CRUZ DE TENERIFE,"NAVIERA MURUETA - BILBAO, SPAIN","NAVIERA MURUETA - BILBAO, SPAIN",BAHIA TRES is a Oil tanker built in 2007 by SO...,6DS-32,3500 KW
3,Container,Container Terminal XXI,22.1,22.2,Container Ship,CONTAINER SHIPS,281.0,14.9,9289099,ALGECIRAS,...,MAN-B&W,2005,"HANJIN HEAVY INDUSTRIES CO. LTD. - BUSAN, SOUT...",GERMANISCHER LLOYD,HAMBURG,"OFFEN REEDEREI - HAMBURG, GERMANY","OFFEN REEDEREI - HAMBURG, GERMANY",MSC BEIJING is a Container ship built in 2005 ...,12RTA-96C,61800 KW
4,3,Oil and Products Terminal,0.3,16.9,Fire Fighting Vessel,SUPPORTING VESSELS,2.0,5.2,9319179,SINES ANCH,...,NaN,2005,"ASTILLEROS ZAMAKONA - BILBAO, SPAIN",BUREAU VERITAS,SINES,"REBOPORT - SETUBAL, PORTUGAL","REBOPORT - SETUBAL, PORTUGAL",CASTELO DE SAO JORGE is a Other built in 2005 ...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1766,3,Multi Purpose Terminal,11.7,100.8,Tug,SUPPORTING VESSELS,3.0,8.1,7626085,SINES,...,NaN,1979,"REBOPORT - SETUBAL, PORTUGAL",NaN,NaN,NaN,NaN,POSEIDON is a Tug boat built in 1979 by REBOPO...,NaN,NaN
1767,3,Multi Purpose Terminal,11.5,100.8,Tug,SUPPORTING VESSELS,3.0,8.1,7626085,SINES,...,NaN,1979,"REBOPORT - SETUBAL, PORTUGAL",NaN,NaN,NaN,NaN,POSEIDON is a Tug boat built in 1979 by REBOPO...,NaN,NaN
1768,3,Multi Purpose Terminal,11.8,100.8,Tug,SUPPORTING VESSELS,3.0,8.1,7626085,SINES,...,NaN,1979,"REBOPORT - SETUBAL, PORTUGAL",NaN,NaN,NaN,NaN,POSEIDON is a Tug boat built in 1979 by REBOPO...,NaN,NaN
1769,3,Multi Purpose Terminal,0.1,100.8,Tug,SUPPORTING VESSELS,3.0,8.1,7626085,SINES,...,NaN,1979,"REBOPORT - SETUBAL, PORTUGAL",NaN,NaN,NaN,NaN,POSEIDON is a Tug boat built in 1979 by REBOPO...,NaN,NaN
1770,3,Multi Purpose Terminal,0.2,100.8,Tug,SUPPORTING VESSELS,3.0,8.1,7626085,SINES,...,NaN,1979,"REBOPORT - SETUBAL, PORTUGAL",NaN,NaN,NaN,NaN,POSEIDON is a Tug boat built in 1979 by REBOPO...,NaN,NaN

In [5]:
navios_sines_imos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1771 entries, 0 to 1770
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Berth Name                 1771 non-null   object
 1   Terminal Name              1771 non-null   object
 2   Time At Berth              1771 non-null   float64
 3   Time At Port               1771 non-null   float64
 4   Vessel Type - Generic      1771 non-null   object
 5   Commercial Market          1771 non-null   object
 6   Voyage Distance Travelled  1771 non-null   float64
 7   Voyage Speed Average       1771 non-null   float64
 8   Imo                        1771 non-null   int64
 9   Voyage Origin Port         1771 non-null   object
 10  IMO number                 1771 non-null   int64
 11  MMSI                       1770 non-null   float64
 12  Name of the ship           1771 non-null   object
 13  Former names               1215 non-null   object
 14  Vessel type                1771 non-null   object
 15  Operating status           1770 non-null   object
 16  Flag                       1771 non-null   object
 17  Gross tonnage              1771 non-null   object
 18  Deadweight                 1770 non-null   object
 19  Length                     1770 non-null   object
 20  Breadth                    1770 non-null   object
 21  Engine type                549 non-null    object
 22  Year of build              1771 non-null   int64
 23  Builder                    1751 non-null   object
 24  Classification society     1391 non-null   object
 25  Home port                  1413 non-null   object
 26  Owner                      1498 non-null   object
 27  Manager                    1498 non-null   object
 28  Description                1771 non-null   object
 29  Engine model               516 non-null    object
 30  Engine power               549 non-null    object
dtypes: float64(5), int64(3), object(23)
memory usage: 429.0+ KB